.App {
  align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-page{
     display: flex;
     justify-content: flex-start;
.canvas{

width:300px;
 height:300px;
margin-top: 20px;
background-color:rgb(255, 255, 255);
}

}
.option{
    width: 30%;
       height: 100%;
}

.content{
        width: 70%;
       height: 100%;
}

.profile
{
margin-left: 175px;
    margin-top: 65px;
}
.profile-image
   {
        height: 175px;
        width: 170px;
        align-self: center;
    }


.buttons{
height:60%;
}

.button{
    height:50px;
    width:365px;
    background:grey;
}
.button-text
{
font-size:16px;
}

.star-rating{
            font-size: 30px;
}
.skill-image{
    height:50px;
    width:150px;
}

.timeline{
color:black;
font-color:red;
}

.contact-image{
     height: 30px;
     width: 60px;
     margin-left: 200px;
}
.heading{
    margin-left:200px;
    margin-top:7%;
    font-size:27px;
}
.App .contact-text:
{
font-size:40px;
  text-align: center;

}

.contact-info{
    font-size:24px;
    margin-left:2%;

}